[submodule "glide-text2im"]
	path = glide-text2im
	url = https://github.com/openai/glide-text2im.git
[submodule "Real-ESRGAN"]
	path = Real-ESRGAN
	url = https://github.com/xinntao/Real-ESRGAN.git
[submodule "min-dalle"]
	path = min-dalle
	url = https://github.com/kuprel/min-dalle.git
[submodule "rembg"]
	path = rembg
	url = https://github.com/danielgatis/rembg.git
