/glide_model_cache
/random_test
/__pycache__
/Real-ESRGAN/experiments/pretrained_models/*.pth

stable-diffusion-inpainting

Tools/__pycache__
extra   # contains extra files and notes for me
*.ckpt
/input*
/output*